body {
    background-image: url("http://www.facets.la/wallpaper/W_2014_339.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: 'Baloo Bhaijaan', cursive;
}
header {
    font-size: 1.5em;
    font-weight: bold;
}
#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    border-radius: 50px;
    background: #214277;
    margin: 0 auto;
    margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
nav header {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    flex: 1;
}
nav ul {
    list-style-image: none;
}
nav li {
    display: inline-block;
    padding: 0 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #000;
}
/* main container area beneath menu */
main {
    background: #c9ddff;
    border-radius: 25px;
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar img {
    border-radius: 50%;
    width: 250px;
    border: solid 4px black;
}
.content {
    flex: 1;
    padding: 15px;
}
.interest header {
    font-size: 1.25em;
}
#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #eee;
} 

#portfolio a {
    text-decoration: none;
    color: #454545;
}